body {
	background-image:url('truck.jpeg');
	background-repeat:no-repeat;
	background-size: cover;
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
}

h1 {
	font-family: 'Lobster', Georgia, Times, serif;
	font-size: 100px;
	line-height: 110px;
}

h2 {
	font-family: 'Dancing Script', Georgia, Times, serif;
	font-size: 25px;
	line-height: 30px;
}

.homecontainer {
	text-align: center;
	background: rgba(255,255,255,0.8);
	padding: 30px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	max-width: 675px;
	border: 2px solid #A8A8A8;
}
	.homecontainer h3 {
		width: 400px;
		margin: 10px auto;
/*		text-align: left;*/
	}
	.homecontainer input {
		width: 100%;
	}

.jumbotron {
	background-image: none;
	color: black;
}

.hspace {
	margin-bottom: 15px;
}

input.maininput {
	height: 30px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding-left: 13px;
}

.spacer20 {
	height: 20px;
	clear: both;
}