html, body {
	min-height: 100%;
}

body {
	background-image:url('truck.jpeg');
	background-repeat:no-repeat;
	background-size: cover;
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
}
@media (min-width: 980px) {
	body { padding: 80px 0; }
}
	body > .navbar .brand {
		float: left;
		margin: 0;
		color: #aaa;
		background: -webkit-gradient(linear, left top, left bottom, from(#08C), to(#fff));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

.breadcrumb {
	background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#c9cecf));
	-webkit-border-radius: 0;
	border-radius: 0;
	text-align: left;
}

footer {
	color: #fff;
	text-align: center;
	padding: 20px 0;
	text-shadow: 0 1px 2px #000;
	opacity: 0.9;
	font-size: 16px;
	bottom: -80px;
}
[class^="icon-"], [class*=" icon-"] {
	margin-right: 3px;
	margin-top: -1px;
}

h1 {
	font-size: 100px;
	line-height: 110px;
}

h1, h3.resultsh, .brand {
	font-family: 'Lobster', Georgia, Times, serif;
}

h2 {
	font-family: 'Dancing Script', Georgia, Times, serif;
	font-size: 25px;
	line-height: 30px;
}

h3.resultsh {
	font-size: 25px;
	line-height: 30px;
}

.homecontainer, .resultscontainer {
	text-align: center;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: rgba(255,255,255,0.8);
	-webkit-box-shadow: 0 0 15px rgba(0,0,0,0.3);
}
.homecontainer {
	padding: 30px;
}

.navbar .nav {
	margin: 0;
}

.ncontainer {
	padding: 30px;
	width: 786px;
	text-align: center;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: rgba(255,255,255,0.8);
	-webkit-box-shadow: 0 0 15px rgba(0,0,0,0.3);
/*	overflow: hidden;*/
}

.resultscontainer {
	
}
	.homecontainer h3 {
		width: 90%;
		max-width: 400px;
		margin: 10px auto;
/*		text-align: left;*/
	}
	.homecontainer input {
		width: 100%;
	}

.homecontainer {
	max-width: 675px;
}

.hspace {
	margin-bottom: 15px;
}

#map_canvas {
	width: 100%; height: 500px;
	position: relative;
}
@media (min-width: 980px) {
	#map_canvas {
		width: 650px;
	}
}
	.dummymap1 {
		width: 100%; height: 100%;
		position: absolute;
		opacity: 1;
		background: url(hood1.png) no-repeat;
		background-size: cover;
	}
    .dummymap2 {
		width: 100%; height: 100%;
		position: absolute;
		opacity: 0;
		background: url(hood2.png) no-repeat;
		background-size: cover;
	}
    .dummymap3 {
		width: 100%; height: 100%;
		position: absolute;
		opacity: 0;
		background: url(hood3.png) no-repeat;
		background-size: cover;
	}
iframe {
	margin-bottom: -5px;
}

input.maininput {
	height: 30px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding-left: 13px;
}

.jumbotron {
	background-image: none;
	color: black;
}

#maplinks {
	position: relative;
}
	#maplinks div {
		width: 100px; height: 100px;
		position: absolute;
		cursor: pointer;
	}

#mapcontrols {
	position: absolute;
	z-index: 999;
	margin: 10px;
}
#mapsidebarcontainer {
	float: right;
	height: 0px; width: 0px;
	margin-bottom: 20px;
}
	#mapsidebar {
		width: 290px; height: 500px;
/*		margin: 30px 10px;*/
		padding: 25px;
		box-sizing: border-box;
		background: rgba(255,255,255,0.8);
		-webkit-transition: -webkit-transform 0.4s ease;
		position: relative;
		top: -500px;
		-webkit-transform: translateX(-290px);
		text-align: left;
		overflow:auto; -webkit-overflow-scrolling:touch;
	}
	#mapsidebar ul { margin-left: 0; }
	#mapsidebar li { line-height: 26px; border-bottom: 1px dotted #aaa; }
	#mapsidebar input,
	#mapsidebar .rankcontainer {
		width: 50%;
		float: right;
		height: 17px; margin-top: 4px;
	}
	#mapsidebar input {
		-webkit-appearance: none;
		background-color: #eee;
		border: 1px solid #aaa;
		border-radius: 9px;
		display: none;
	}
	#mapsidebar .noneText {display:none; color: #ccc; text-shadow:0 -1px 0 #999;font-size:24px;text-align: center;line-height:36px; margin-top: 75%;}
	#mapsidebar.none .noneText {display:block;}
	#mapsidebar.none button,
	#mapsidebar.none ul {
		display: none;
	}
	#mapsidebar.edit input {
		display: block;
	}
		#mapsidebar.edit div {
			display: none;
		}
		#mapsidebar.edit button {
			color: rgb(0, 136, 204);
		}
	#mapsidebar .rankcontainer {
/*				border-left: 1px dotted #aaa;*/
/*				border-right: 1px dotted #aaa;*/
				position: relative;
				overflow: hidden;
	}
		#mapsidebar .line {
			width: 2px; height: 100%; background-color: black;
			position: absolute;
		}
		#mapsidebar .bar {
			width: 20px; height: 90%; margin-top:5%; background-color: #ccc;
			position: absolute;
			-webkit-transition: all 0.4s ease;
		}
	
	#mapsidebar h4 {display:none;margin-top:-5px;}
	#mapsidebar.l1 .l1,
	#mapsidebar.l2 .l2,
	#mapsidebar.l3 .l3 {display: block;}
	
	#mapsidebar.l1 #bar1 {width:50px; -webkit-transform: translateX(20px);}
	#mapsidebar.l2 #bar1 {width:20px; -webkit-transform: translateX(60px);}
	#mapsidebar.l3 #bar1 {width:60px; -webkit-transform: translateX(25px);}
	
	#mapsidebar.l1 #bar2 {width:30px; -webkit-transform: translateX(50px);}
	#mapsidebar.l2 #bar2 {width:70px; -webkit-transform: translateX(30px);}
	#mapsidebar.l3 #bar2 {width:80px; -webkit-transform: translateX(25px);}
	
	#mapsidebar.l1 #bar3 {width:40px; -webkit-transform: translateX(60px);}
	#mapsidebar.l2 #bar3 {width:80px; -webkit-transform: translateX(10px);}
	#mapsidebar.l3 #bar3 {width:20px; -webkit-transform: translateX(45px);}
	
	#mapsidebar.l1 #bar4 {width:80px; -webkit-transform: translateX(20px);}
	#mapsidebar.l2 #bar4 {width:20px; -webkit-transform: translateX(60px);}
	#mapsidebar.l3 #bar4 {width:30px; -webkit-transform: translateX(55px);}
	
	#mapsidebar.l1 #bar5 {width:20px; -webkit-transform: translateX(90px);}
	#mapsidebar.l2 #bar5 {width:35px; -webkit-transform: translateX(70px);}
	#mapsidebar.l3 #bar5 {width:80px; -webkit-transform: translateX(5px);}
	
	#mapsidebar.l1 #bar6 {width:50px; -webkit-transform: translateX(20px);}
	#mapsidebar.l2 #bar6 {width:20px; -webkit-transform: translateX(60px);}
	#mapsidebar.l3 #bar6 {width:60px; -webkit-transform: translateX(25px);}
	
	#mapsidebar.l1 #bar7 {width:70px; -webkit-transform: translateX(40px);}
	#mapsidebar.l2 #bar7 {width:27px; -webkit-transform: translateX(80px);}
	#mapsidebar.l3 #bar7 {width:34px; -webkit-transform: translateX(65px);}
	
	#mapsidebar.l1 #bar8 {width:50px; -webkit-transform: translateX(30px);}
	#mapsidebar.l2 #bar8 {width:10px; -webkit-transform: translateX(80px);}
	#mapsidebar.l3 #bar8 {width:10px; -webkit-transform: translateX(105px);}
	
	#mapsidebar.l1 #bar9 {width:50px; -webkit-transform: translateX(20px);}
	#mapsidebar.l2 #bar9 {width:20px; -webkit-transform: translateX(90px);}
	#mapsidebar.l3 #bar9 {width:80px; -webkit-transform: translateX(15px);}
	
	#mapsidebar.l1 #bar10 {width:50px; -webkit-transform: translateX(70px);}
	#mapsidebar.l2 #bar10 {width:60px; -webkit-transform: translateX(50px);}
	#mapsidebar.l3 #bar10 {width:10px; -webkit-transform: translateX(105px);}
	
	#mapsidebar.l1 #bar11 {width:10px; -webkit-transform: translateX(100px);}
	#mapsidebar.l2 #bar11 {width:20px; -webkit-transform: translateX(60px);}
	#mapsidebar.l3 #bar11 {width:40px; -webkit-transform: translateX(65px);}
	
	#mapsidebar.l1 #bar12 {width:55px; -webkit-transform: translateX(50px);}
	#mapsidebar.l2 #bar12 {width:100px; -webkit-transform: translateX(10px);}
	#mapsidebar.l3 #bar12 {width:60px; -webkit-transform: translateX(45px);}
	
	#mapsidebar.l1 #bar13 {width:20px; -webkit-transform: translateX(70px);}
	#mapsidebar.l2 #bar13 {width:40px; -webkit-transform: translateX(60px);}
	#mapsidebar.l3 #bar13 {width:100px; -webkit-transform: translateX(5px);}
	

#meter {	
	width: 400px;
	height: 30px;
	padding: 3px;
	background-color: #fff;
	margin: 10px auto;
	border: 2px solid #aaa;
	border-radius: 21px;
}
	#meter div {
		line-height: 30px;
		border-radius: 21px;
		background: -webkit-gradient(linear, left top, right top, from(#fff), to(#00991E));
		text-align: right;
	}
	#meter span {display: inline-block; padding: 0 10px;}
	#meter span:first-child { float: left; }

.navbar {
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.8);
}

.nav-collapse.collapse {
	float: right;
}

.progress {
	width: 90%;
}

.progress-info .bar, .progress .bar-info {
	text-align: left;
	padding-left: 10px;
}

.resultscontainer {
	max-width: 950px;
}

.spacer20 {
	height: 20px;
	clear: both;
}

.tab-pane {
	text-align: left;
}

.nav-tabs > li > a {
	padding-top: 12px;
}

.tab-pane img {
	float: left;
	height: 151px;
	margin-right: 15px;
	margin-top: 5px;
	border: 2px solid rgba(0,0,0,.5);
}

.tab-pane ul {
	list-style: none;
	margin-left: 0px;
}

.tab-pane .span3 {
	margin-left: 0px;
	width: 28%;
}

.container {
	position: relative;
}
footer {
	position: absolute;
	width: 100%;
	text-align: left;
	left: 0px;
}
footer p {
	float: left;
}
.social {
	float: right;
	height: 26px;
	background: url(social.png) no-repeat center;
}
	.social a {
		width: 26px; height: 26px;
		display: inline-block;
	}
